#gurantee {
    background: transparent linear-gradient(114deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
    padding: 70px 0;
    text-align: center;
    color: #fff;
    .section__heading {
        line-height: 49px;
    }
    .gurantee__inner {
        max-width: 932px;
        margin:  0 auto;
        .gurantee__img {
            margin: 30px 0;
        }
    }
    p {  
        font-size: 21px;
        line-height: 30px;
        font-weight: normal;      
        letter-spacing: 0px;
    }
    .secound-para {
        margin: 30px 0 40px;
    }
    .third-para {  
        font-size: 21px;
        line-height: 30px;
        font-weight: bold;      
        margin-bottom: 38px;
    }
    a{
        margin: 0 auto;
    }
    .cta__btn--link {
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;      
        letter-spacing: 0px;
        text-align: center;
        color: white;
        background: #23CE6B 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 8px #23ce6b80;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 320px !important;
        height: 80px !important;
        transition: all .2s;
        &:hover {
            text-decoration: none;
            transform: translateY(-10px);
        }    
    }
}

@media screen and (max-width: 767px) {
    #gurantee {

        .section__heading {
            padding: 0 50px;
            font-size: 32px;
            line-height: 40px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
        }
    }
}